node_modules
dist
build
.next
.cache
.turbo
coverage
.env
.env.*
!.env.example
*.log
.DS_Store
Thumbs.db
prisma/dev.db*
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
work-subdec.mjs
package-lock.json
